name: Remote Executor
on:
  workflow_dispatch:
    inputs:
      code:
        description: 'Python code'
        required: true
jobs:
  run-code:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install System Dependencies (OpenCL)
        run: |
          sudo apt-get update
          sudo apt-get install -y ocl-icd-libopencl1 ocl-icd-opencl-dev pocl-opencl-icd

      - name: Install Python Dependencies
        run: |
          pip install numpy tenseal pandas matplotlib pyopencl

      - name: Execute Remote Code
        run: |
          set +x
          echo "${{ github.event.inputs.code }}" | base64 -d > remote_script.py
          python3 remote_script.py
